<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackgroundR" value="61"/>
    <add key="BackgroundG" value="62"/>
    <add key="BackgroundB" value="125"/>
    <add key="RomsPath" value="Roms"/>
    <add key="EmulatorsPath" value="Emulators"/>
    <add key="PicturesPath" value="Pictures"/>
  </appSettings>
</configuration>