<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RomsPath" value="Roms"/>
    <add key="EmulatorsPath" value="Emulators"/>
    <add key="PicturesPath" value="Pictures"/>
  </appSettings>
  
  <connectionStrings>
    <add name="XGamerEntities" connectionString="metadata=res://*/XGamer.csdl|res://*/XGamer.ssdl|res://*/XGamer.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\XGamer.sdf&quot;" providerName="System.Data.EntityClient"/>    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
